.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.delete-icon {
  cursor: pointer;
  margin-right: 5px;
  color: red;
}
.row{
  margin: 5%;
 

}
#error{
  color: red;
}
#result {
  font-size: 24px;
  width: 180px;
}
#history{
  width: 300px;
}
input{
    padding: 30px 65px;
    font-size: 13px;
}
 
  .btn {
    font-size: 20px;
    width: 75px;
    height: 75px;
  }

 

  .btn-operation {
    background-color: #f0ad4e;
    color: #ffffff;
  }

  .btn-equals {
    background-color: #5cb85c;
    color: #ffffff;
  }