.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.delete-icon {
  cursor: pointer;
  margin-right: 5px;
  color: red;
}

.row {
  margin: 5%;
}

.input-span {
  width: 100%;
  text-align: right;
  font-family: arial, sans-serif;
  float: right;
  white-space: nowrap;
  margin-top: 3px;
}

.error-input {
  color: red;
  border: 2px solid red;
  box-shadow: red 2px;
}

.variable-div {
  color: red;
  border: 2px solid red;
  box-shadow: red 2px;
}

.variable-div.success {
  color: initial;
  border: none;
  box-shadow: none;
}

#error {
  color: red;
  font-size: 13px;
}

#result {
  font-size: 24px;
  width: 180px;
}

#history {
  width: 300px;
}

.input-result {
  padding: 30px 65px;
  font-size: 13px;
}

.btn {
  font-size: 20px;
  width: 75px;
  height: 75px;
}

.btn-operation {
  background-color: #f0ad4e;
  color: #ffffff;
}

.btn-equals {
  background-color: #5cb85c;
  color: #ffffff;
}
